CAKE_VERSION=1.0
API_CAKE_URL=http://api.cakemail.com
CAKE_MCRYPT_ALG=Blowfish
CAKE_MCRYPT_MODE=CBC
CAKE_INTERFACE_KEY=
CAKE_INTERFACE_ID=
DEFAULT_LOCALE=en_US
DEBUG=false
LOG_FILENAME=debug.log
